<!-- 네비게이션바 -->
<nav class="navbar navbar-dark bg-dark" style="position: fixed; top: 0; width: 100%;">
  <a class="navbar-brand" href="/" style="font-size:20px;">Apple Doctor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/disease">질병 리스트</a>
      <a class="nav-item nav-link" href="/pesticide">가까운 농약사 찾기</a>
      <a class="nav-item nav-link" href="/pesticide/detail/">농약 상세 검색</a>
    </div>
  </div>
</nav>