{% extends '../base.html' %}
{% load static %}

{% block title %}
<!-- {{pest.diseaseWeedName}} -->
{% endblock %}

{% block content %}
<br><br><br><br>

<h1>농약(사과) 정보 검색 페이지 구현</h1>
<!-- <div class="container">
  <p class="disease_title" style="font-family: 'Noto Sans KR', sans-serif;">
  <h1><strong>{{pest.diseaseWeedName}}</strong></h1>
  </p>
  <br><br>

  <br><br>
  <div>
    <h3>
      <p style="font-family: 'Noto Sans KR', sans-serif;"><strong>pestiKorName</strong></p>
    </h3>
    <h5><p>{{pest.pestiKorName| linebreaks}}</p></h5>
  </div>
  <br><br>
  <div>
    <h3>
      <p style="font-family: 'Noto Sans KR', sans-serif;"><strong>pestiBrandName</strong></p>
    </h3>
    <h5><p>{{pest.pestiBrandName | linebreaks}}</p></h5>
  </div>
  <br><br>
  <div>
    <h3>
      <p style="font-family: 'Noto Sans KR', sans-serif;"><strong>방제 방법</strong></p>
    </h3>
    <h5><p>{{pest.useName | diseaseWeedName}}</p></h5>
  </div>

</div> -->
{% endblock %}